*{
  margin:0px;
  padding:0px;
}


main {
  text-align: center;
  vertical-align: center;
}
li{
  line-Height: 45px
}
body{
    background-color:black;
  color:white;
}
.Navigate {
  background-color: orange;
  color: black;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}
.Navigate:hover{
  background:#855805;
}
navigates{color: black;
  margin: 15px;
  padding: 10px;
  text-decoration: none}
.user_btn{
  background:green;
  color:white;
  margin: 3px;
  padding:5px;
   transition-timing-function: ease-in-out;
  transition: 0.9s;
}

.next_btn{
  background:orange;
  color:white;
  padding:5px;
  margin:4px
}

.user_btn:hover{
  background-color:#023b02;
   padding:6px;
  margin:5px;
}
.next_btn:hover{
  background:#865804
 
}
button[disabled=disabled],button:disabled:hover{
  cursor:not-allowed;
  pointer-event:none;
  background:grey;
}

.Navy{
  margin:15px;
}
.cabon{
  margin:10px;
padding:10px;
font-size:30px;
}
.welcome{
  margin:15px;
 font-size:20px;
}
.wrng{
  color:red;
  font-size:20px;
  font-weight:bold;
}
.light{
  background:white;
  color:black;
  border:none
}
.dark{background:black;
     color:white}
img{
  border-radius:50%
}
.info{
  margin:10px;
    padding:10px;
    line-Height:25px;
}
.errors{
 margin: 5px;
  padding: 10px;
  font-size:25px
}

button[disabled=disabled],button:disabled{
  background:grey;
}